includes:
    - vendor/phpstan/phpstan-nette/extension.neon

parameters:
    level: 8
    paths:
        - src
        - tests

    ignoreErrors:
        - '#Access to an undefined property Nette\\Application\\UI\\Presenter::\$backlink#'
